// 色の定義

$brand: #2563eb;
$radius-md: 12px;
$radius-sm: 8px;
$gap: 16px;

$AccentColor:#2563eb;

$TextDef:#363636;
$TextSubtle:#707070;

$BgGray:#f9fafc;
$BgWhite:#fff;

$BorderDef:#ddd;
$BorderFocus:#909090;


$MainColor:#363636;
$BaseColor1:#fff;
// $BaseColor2:;
// $AccentColor1:;
// $AccentColor2:;
// $InnerMask:rgba(54,54,54,0.6);
